html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    display: flex;
    justify-content: center;
    font-family: 'arial', sans-serif;
    background-color: #eeebeb;
}
.header{
    height: 725px;
    width: 1140px;
}
.title{
    font-size: 36px;
    text-align: center;
    padding-top: 105px;
    padding-bottom: 135px;
}
.container{
    display: flex;
    justify-content: space-around;
}
.name{
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
}
.price{
    text-align: center;
    padding-top: 12px;
    font-size: 18px;
    font-weight: 700;
}
.button-wrapper{
    display: flex;	
    justify-content: center;
    padding-top: 30px;
  }
button{
    width: 200px;
    height: 55px;
    border: 1px solid #23bac1;
    font-size: 13px;
    font-weight: 700;
    color: #23bac1;
}